.select-wrapper {
    outline: 1px solid $bg-color2;
    padding: 0 5px;
    width: 100px;
    height: 32px;
    font-size: inherit;
    color: $bg-color;
    vertical-align: middle;
    border: 1px solid $bg-color;
    border-radius: 4px;

    .input {
        display: inline-block;
        width: 100%;
        border: unset;
        outline: unset;
        font-size: inherit;
        color: inherit;
    }
}